body {
    margin-top: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    background-color: grey;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: flex;
}

.number-box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-color: lightgray;
    width: 280px;
    height: 150px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 60px;
    color: #3B3B3B;
}

.keypad {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: lightgray;
    width: 300px;
    height: 300px;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 22px;
}

.key-containers {

    width: 50px;
    height: 40px;
    margin: 10px;
}

.numKeys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 195px;
    height: 245px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.numKey {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 45px;
    height: 55px;
    margin: 8px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.signKeys {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 75px;
    height: 235px;
    margin-left: 0px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.signKey {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    width: 60px;
    height: 38px;
}

.zeroKey {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    width: 167px;
    height: 45px;
    margin-left: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.clear-key {
    width: 60px;
    height: 45px;
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 5px;
}

.keys {
    background-color: grey;
    font-size: 25px;
}

